.contact{
  width: 100%;
  height: 100vh;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: #333333; /* Dark grey */
  font-size: 50px;
}

.contact-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  margin: 2rem;
}

.Right-section ul{
  background-color: #333333;
  border-radius: 10px;
  padding: 20px;
  
}

li{
  list-style: none;
  text-align: left;
  color: #D3D3D3;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.social-icon{
  font-size: 30px;
  display: flex;
  gap: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  
  .contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .contact-form textarea{
    width: 100%;
    padding: 10px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #E0E0E0;
    border: none;
    color: #333333;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #b1b3b2;
  }
  
  @media screen and (max-width:740px) {
    .contact-section{
      display: flex;
      flex-direction: column-reverse;
    }
    
  }